@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("../fonts/proxima-nova-regular.otf");
}
body {
    background-color: #f6f6f6;
    font-family: ProximaNova-Regular;
}

.left-column {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    float: left;
    width: 168px;
}

.left-column .logo {
    margin-top: 3px;
    margin-left: 9px;
}

.left-column .logo img{
    width: 135px;
    height: 155px;
}

.left-column .block-list.first {
    margin-top: 26px;
}

.left-column .block-list {
    margin-top: 15px;
    margin-left: 15px;
}

.left-column .block-list ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0 ;
}


.left-column .block-list h4 {
    margin: 0 0 5px 0;
    color: #444444;
    font-weight: lighter;
    background-image: linear-gradient(to right, #d8d8d8, #f6f6f6);
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 131px;
    background-size: 100% 1px;
}

.left-column .block-list a {
    text-decoration: none;
}

.right-column {
    width: calc(100% - 170px);
    float: right;;
}

.right-column .top-nav {
    display: flex;
    flex-direction: row-reverse;
}

.right-column .top-nav ul{
    list-style: none;
    display: flex;
}
.right-column .top-nav ul li {
    margin-left: 20px;
}

.right-column .bottom-nav ul {
    list-style: none;
}

.right-column .bottom-nav a {
    text-decoration: none;
}